{% extends 'base.html.twig' %}

{% block title %}Project Collaboration Topic
{% endblock %}
{% block breadcrumb %}
	<li class="breadcrumb-item">
		<a href="{{path('project_index')}}">
			{% trans %}
			Projects
			{% endtrans %}</a>
	</li>
	<li class="breadcrumb-item">
		<a href="{{path('project_show', {'id': project.id})}}">{{ project.name }}
		</a>
	</li>
	<li class="breadcrumb-item active">{% trans %}
		Collaboration Topic
		{% endtrans %}</li>
{% endblock %}
{% block pagetitle %} {{ project.name }}
	{% trans %}
	Collaboration Topic{% endtrans %}
{% endblock %}
{% block body %}
	<div class="row">
		<div class="col-md-4">
			{% if is_granted("project_collaboration_topic_create") %}
				<div class="card card-info">
					<div class="card-header">
						<h3 class="card-title">
							{% if edit %}
								Edit
							{% else %}
								Add New
							{% endif %}Collaboration Topics
						</h3>
					</div>
					<div class="card-body">
						{% if edit  %}
							{% set button_label = 'Update' %}
						{% endif %} {{ include('project/collaboration_topic/_form.html.twig') }}
					</div>
				</div>
			{% endif %}
		</div>
		<div class="col-md-8">
			<div class="card card-info">
				<div class="card-header">
					<h3 class="card-title">{% trans %}
						Collaboration Topic List
						{% endtrans %}</h3>
					<div class="card-tools">
						<form class="form-inline ml-3">
							<div class="input-group input-group-sm">
								<input class="form-control form-control-navbar" placeholder="Search" type="search" name="search">
								<div class="input-group-append">
									<button class="btn btn-secondary" type="submit">
										<i class="fas fa-search"></i>
									</button>
								</div>
							</div>
						</form>
					</div>
				</div>
				<div class="card-body">
					<table class="table table-hover">
						<thead>
							<tr>
								<th>#</th>
								<th>{{ knp_pagination_sortable(project_collaboration_topics, 'Title'|trans, 'p.title') }}</th>
								<th>{{ knp_pagination_sortable(project_collaboration_topics, 'Description'|trans, 'p.description') }}</th>
								<th>{{ knp_pagination_sortable(project_collaboration_topics, 'Created At'|trans, 'p.created_at') }}</th>
								<th>{% trans %}Actions{% endtrans %}</th>
							</tr>
						</thead>
						<tbody>
							{% set i = 1 %}
							{% for project_collaboration_topic in project_collaboration_topics %}
								<tr>
									<td>{{ i }}
										{% set i = i+1 %}
									</td>
									<td>{{ project_collaboration_topic.title }}</td>
									<td>{{ project_collaboration_topic.description|raw }}</td>
									<td>{{ project_collaboration_topic.createdAt ? project_collaboration_topic.createdAt|date('M d, Y') : '' }}</td>
									<td>
										<a href="{{ path('activity_chat_index', {'topic': project_collaboration_topic.id, 'project': project.id}) }}" class="btn btn-sm btn-outline-success mr-2">{% trans %}Discussion{% endtrans %}</a>
										{% if is_granted("project_collaboration_topic_edit") %}
											<form class="d-inline" method="post">
												<input type="hidden" name="edit" value="{{project_collaboration_topic.id}}">
												<button class="btn btn-warning btn-sm text-white mr-2" title="Edit">
													<i class="fa fa-edit"></i>
												</button>
											</form>
										{% endif %}
										{% if is_granted("project_collaboration_topic_delete") %}
											<form method="post" class="d-inline" action="{{ path('project_collaboration_topic_delete', {'id': project_collaboration_topic.id, 'project':project.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
												<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ project_collaboration_topic.id) }}">
												<button class="btn btn-danger btn-sm">
													<span class="fa fa-trash"></span>
												</button>
											</form>
										{% endif %}
									</td>
								</tr>
							{% else %}
								<tr>
									<td colspan="5">{% trans %}no records found{% endtrans %}</td>
								</tr>
							{% endfor %}
						</tbody>
					</table>
					<div class="navigation">{{ knp_pagination_render(project_collaboration_topics) }}</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('assets/plugins/summernote/summernote-bs4.min.css') }}">
{% endblock %}
{% block javascripts %}
	<script src="{{ asset('assets/plugins/summernote/summernote-bs4.min.js') }}"></script>
	<script>
		$(function () {
$('.wyiswig').summernote({placeholder: 'Enter details here', tabsize: 2, height: 200})
})
	</script>
{% endblock %}
