{% extends 'base.html.twig' %}

{% block title %}Edit Project Activity
{% endblock %}
{% block breadcrumb %}
	<li class="breadcrumb-item">
		<a href="{{path('project_index')}}">
			{% trans %}
			Projects
			{% endtrans %}</a>
	</li>
	<li class="breadcrumb-item">
		<a href="{{path('project_show', {'id': project.id})}}">{{ project.name }}
		</a>
	</li>
	<li class="breadcrumb-item">
		<a href="{{path('project_activity_index', {'project': project.id})}}">{% trans %}
			Project Activity
			{% endtrans %}</a>
	</li>
	<li class="breadcrumb-item active">{% trans %}
		Edit
		{% endtrans %}</li>
{% endblock %}
{% block pagetitle %}
	{% trans %}
	Edit Project Activity{% endtrans %}
{% endblock %}
{% block body %}
	{% if is_granted("project_activity_edit") and project.status == 1 or is_granted("manage_project_plan") and project.status == 2 %}
		<div class="card card-info">
			<div class="card-header">
				<h5>{% trans %}
					Edit Project Activity
					{% endtrans %}</h5>
			</div>
			<div class="card-body"> {{ include('project/activity/_form.html.twig', {'button_label': 'Update' }) }} {{ include('project/activity/_delete_form.html.twig') }}
			</div>
		</div>
		<br>
	{% else %}
		<div class="jumbotron jumbotron-fluid">
			<div class="container text-center">
				<i class="fas fa-7x fa-exclamation-circle text-danger mb-2"></i>
				<h1 class="display-4">Operation Not Permitted</h1>
				<p class="lead">You can not perform this operation since the plan is already approved and major changes can not be made.</p>
			</div>
		</div>
	{% endif %}
{% endblock %}
{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('assets/plugins/summernote/summernote-bs4.min.css') }}">
{% endblock %}
{% block javascripts %}
	<script src="{{ asset('assets/plugins/summernote/summernote-bs4.min.js') }}"></script>
	<script>
		$(function () {
$('.wyiswig').summernote({placeholder: 'Enter details here', tabsize: 2, height: 200})
})
	</script>
<script>
		$('#project_activity_milestone').on('select2:select', function (e) {
			var milestone_id = e.params.data.id;
			var project = {{ project.id }}
			var url = "{{ path('project_milestone_data', {'project': project.id, 'id': 'milestone_id'})}}";
			url = url.replace("milestone_id", milestone_id);
			$.ajax({
				type: "POST",
				url: url,
				dataType: "json",
				success: function(response) {
					$("#project_activity_start_date").attr({
						"min" : response[0],
						"max" : response[1]
					});
					$("#project_activity_end_date").attr({
						"min" : response[0],
						"max" : response[1]
					});
					if(response[2] === true){
						$("#activity_weight_field").addClass("d-none");
					}
					else{
						$("#activity_weight_field").removeClass("d-none");
					}
				}
			});
			var urls = "{{ path('project_activity_data', {'project': project.id, 'id': 'milestone_id'})}}";
			urls = urls.replace("milestone_id", milestone_id);
			$.ajax({
				type: "POST",
				url: urls,
				dataType: "json",
				success: function(response) {
					$("#project_activity_weight").attr({
						"max" : response
					});
				}
			});	
			var urlr = "{{ path('project_activity_order', {'project': project.id, 'milestone': 'milestone_id'})}}";
			urlr = urlr.replace("milestone_id", milestone_id);
			$.ajax({
				type: "POST",
				url: urlr,
				dataType: "json",
				success: function(response) {
					console.log(response);
					$('#project_activity_display_order').val(response['max_order']);
				}
			});	
		});
		$('#project_activity_start_date').change( function() {
			var val = $(this).val();
			$("#project_activity_end_date").attr({
			"min" : val
			});
		});
	</script>
	<script>
		$( document ).ready(function() {
			var milestone_id = {{ project_activity.milestone.id }};
			var project = {{ project.id }}
			var url = "{{ path('project_milestone_data', {'project': project.id, 'id': 'milestone_id'})}}";
			url = url.replace("milestone_id", milestone_id);
			$.ajax({
				type: "POST",
				url: url,
				dataType: "json",
				success: function(response) {
					$("#project_activity_start_date").attr({
						"min" : response[0],
						"max" : response[1]
					});
					$("#project_activity_end_date").attr({
						"min" : response[0],
						"max" : response[1]
					});
					if(response[2] === true){
						$("#activity_weight_field").addClass("d-none");
					}
					else{
						$("#activity_weight_field").removeClass("d-none");
					}
				}
			});
		});
	</script
{% endblock %}
