{% extends 'base.html.twig' %}

{% block title %}Project Activity
{% endblock %}
{% block breadcrumb %}
	<li class="breadcrumb-item">
		<a href="{{path('project_index')}}">
			{% trans %}
			Projects
			{% endtrans %}</a>
	</li>
	<li class="breadcrumb-item">
		<a href="{{path('project_show', {'id': project.id})}}">{{ project.name }}
		</a>
	</li>
	<li class="breadcrumb-item">
		<a href="{{path('project_activity_index', {'project': project.id})}}">{% trans %}
			Activity
			{% endtrans %}</a>
	</li>
	<li class="breadcrumb-item active">{% trans %}
		List
		{% endtrans %}</li>
{% endblock %}
{% block pagetitle %}
	{% trans %}
	Activity{% endtrans %}
{% endblock %}
{% block body %}
	<div class="card card-info">
		<div class="card-header">
			<h5>{% trans %}
				Activity List
				{% endtrans %}</h5>
		</div>
		<div class="card-body">
			<table class="table">
				<thead>
					<tr>
						<th>#</th>
						<th>{{ knp_pagination_sortable(project_activities, 'Title'|trans, 'p.title') }}</th>
						<th>{{ knp_pagination_sortable(project_activities, 'Milestone'|trans, 'p.milestone') }}</th>
						<th>{{ knp_pagination_sortable(project_activities, 'Duration'|trans, 'p.end_date') }}</th>
						<th>{{ knp_pagination_sortable(project_activities, 'Status'|trans, 'p.status') }}</th>
						<th>{{ knp_pagination_sortable(project_activities, 'Active'|trans, 'p.is_active') }}</th>
						<th>{% trans %}Actions{% endtrans %}</th>
					</tr>
				</thead>
				<tbody>
					{% set i = 1 %}
					{% for project_activity in project_activities %}
						<tr>
							<td>{{ i }}
								{% set i = i+1 %}
							</td>
							<td>
								<a href="{{ path('project_activity_show', {'id': project_activity.id, 'project': project.id}) }}">{{ project_activity.title }}</a>
							</td>
							<td>{{ project_activity.milestone.name }}</td>
							<td>{{ project_activity.startDate ? project_activity.startDate|date('d M Y') : '' }} - {{ project_activity.endDate ? project_activity.endDate|date('d M Y') : '' }}</td>
							<td>
								{% if project_activity.status == 1 %}
									Pending Assignment
								{% elseif project_activity.status == 2 %}
									Assigned
								{% elseif project_activity.status == 3 %}
									On Progress
								{% elseif project_activity.status == 4 %}
									Pending Verification
								{% elseif project_activity.status == 5 %}
									Completed
								{% endif %}

								{% set difference = date(project_activity.endDate).diff(date(project_activity.startDate)) %}
								{% set leftDays = difference.days / 3 %}
								{% set p1 = leftDays * 1 %}
								{% set p1 = '+' ~ p1|round ~' day' %}
								{% set first = project_activity.startDate|date_modify(p1)|date('Y-m-d') %}
								{% set p2 = leftDays * 2 %}
								{% set p2 = '+' ~ p2|round ~' day' %}
								{% set second = project_activity.startDate|date_modify(p2)|date('Y-m-d') %}
								{% set p3 = leftDays * 3 %}
								{% set p3 = '+' ~ p3|round ~' day' %}
								{% set third = project_activity.startDate|date_modify(p3)|date('Y-m-d') %}
								{% set today = "now"|date("Y-m-d") %}
								{% if today < first %}
									<span class="badge badge-secondary">Initial</span>
								{% elseif today > first and today < second %}
									<span class="badge badge-success">Halfway</span>
								{% elseif today > second and today < third %}
									<span class="badge badge-warning">Almost Done</span>
								{% elseif today > third %}
									<span class="badge badge-danger">Delayed</span>
								{% endif %}
							</td>
							<td>{{ project_activity.isActive ? 'Yes' : 'No' }}</td>
							<td>
							{% if project.status == 1 or is_granted("manage_project_plan") and project.status == 2 %}
					<a href="{{ path('project_activity_edit', {'id': project_activity.id, 'project': project.id}) }}" class="btn btn-sm btn-warning text-white">{% trans %}Edit{% endtrans %}</a> {{ include('project/activity/_delete_form.html.twig') }}
				{% endif %}
							{% if project.status == 3 or project.status == 4 %}
								<a href="{{ path('activity_files_index', {'activity': project_activity.id, 'project': project.id}) }}" class="btn btn-outline-success mr-2">{% trans %}Deliverables{% endtrans %}</a>
								<a href="{{ path('activity_progress_index', {'activity': project_activity.id, 'project': project.id}) }}" class="btn btn-outline-danger mr-2">{% trans %}Progress{% endtrans %}</a>
								<a href="{{ path('activity_user_index', {'activity': project_activity.id, 'project': project.id}) }}" class="btn btn-outline-warning mr-2">{% trans %}Members{% endtrans %}</a>
							{% endif %}
							</td>
						</tr>
					{% else %}
						<tr>
							<td colspan="9">{% trans %}no records found{% endtrans %}</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
			<div class="navigation">{{ knp_pagination_render(project_activities) }}</div>
			<table id="activity" class="table2excel d-none">
					<tr>
						<td>Milestone</td>
						<td>Activity Title</td>
						<td>Description</td>
						<td>Start Date</td>
						<td>End Date</td>
						<td>Order</td>
						<td>Weight</td>
					</tr>
					{% set i = 1 %}
					{% for project_activity in project.projectActivities %}
						<tr>
							<td> {{ project_activity.milestone.name }}</td>
							<td> {{ project_activity.title }}</td>
							<td> {{ project_activity.description|raw }}
							</td>
							<td>{{ project_activity.startDate ? project_activity.startDate|date('d M Y') : '' }}</td>
							<td>{{ project_activity.endDate ? project_activity.endDate|date('d M Y') : '' }}</td>
							<td>{{ project_activity.displayOrder }}</td>
							<td>{{ project_activity.weight }}</td>
						</tr>
					{% else %}
						<tr>
							<td colspan="9">{% trans %}no records found{% endtrans %}</td>
						</tr>
					{% endfor %}
			</table>
		</div>
	</div>
			<button class="btn btn-primary float-right" id="dwnld"><i class="fa fa-download"></i> Download</button>
	{% if is_granted("project_activity_create") and project.status == 1 or is_granted("manage_project_plan") and project.status == 2 %}
		<a href="{{ path('project_activity_new', {'project': project.id}) }}" class="btn btn-success">
			<span class="fa fa-plus"></span>
			{% trans %}Create new{% endtrans %}</a>
	{% endif %}
	<br>
{% endblock %}
{% block javascripts %}
	<script src="{{ asset('assets/plugins/table2excel/jquery.table2excel.min.js')}}"></script>
<script>
    $('#dwnld').on('click', function(){
        
        $("#activity").table2excel({
            exclude: ".actions",
            name: "Worksheet Name",
            filename: "{{ project.name }} Activities.xls",
            preserveColors: false
        });
    
    });
</script>
{% endblock %}