{% extends 'base.html.twig' %}

{% block title %}Project Activity
{% endblock %}
{% block breadcrumb %}
	<li class="breadcrumb-item">
		<a href="{{path('project_index')}}">
			{% trans %}
			Projects
			{% endtrans %}</a>
	</li>
	<li class="breadcrumb-item">
		<a href="{{path('project_show', {'id': project.id})}}">{{ project.name }}
		</a>
	</li>
	<li class="breadcrumb-item">
		<a href="{{path('project_activity_index', {'project': project.id})}}">{% trans %}
			Project Activity
			{% endtrans %}</a>
	</li>
	<li class="breadcrumb-item active">{% trans %}
		Show
		{% endtrans %}</li>
{% endblock %}
{% block pagetitle %}
	{% trans %}
	Show Project Activity
	{% endtrans %}
{% endblock %}
{% block body %}
	{% if is_granted("project_activity_show") %}
		<div class="card card-info">
			<div class="card-header">
				<h5>{% trans %}
					Show Project Activity
					{% endtrans %}</h5>
			</div>
			<div class="card-body">
				<table class="table">
					<tbody>
						<tr>
							<th>{% trans %}Title{% endtrans %}</th>
							<td>{{ project_activity.title }}</td>
						</tr>
						<tr>
							<th>{% trans %}Description{% endtrans %}</th>
							<td>{{ project_activity.description|raw }}</td>
						</tr>
						<tr>
							<th>{% trans %}Status{% endtrans %}</th>
							<td>
								{% if project_activity.status == 1 %}
									Pending Assignment
								{% elseif project_activity.status == 2 %}
									Assigned
								{% elseif project_activity.status == 3 %}
									On Progress
								{% elseif project_activity.status == 4 %}
									Pending Verification
								{% elseif project_activity.status == 5 %}
									Completed
								{% endif %}
							</td>
						</tr>
						<tr>
							<th>{% trans %}Duration{% endtrans %}</th>
							<td>{{ project_activity.startDate ? project_activity.startDate|date('d M Y') : '' }}
								- {{ project_activity.endDate ? project_activity.endDate|date('d M Y') : '' }}</td>
						</tr>
						<tr>
							<th>{% trans %}Display Order{% endtrans %}</th>
							<td>{{ project_activity.displayOrder }}</td>
						</tr>
						<tr>
							<th>{% trans %}Is Active{% endtrans %}</th>
							<td>{{ project_activity.isActive ? 'Yes' : 'No' }}</td>
						</tr>
						<tr>
							<th>{% trans %}Weight{% endtrans %}</th>
							<td>{{ project_activity.weight }}</td>
						</tr>
					</tbody>
				</table>
				{% if project.status == 1 or is_granted("manage_project_plan") and project.status == 2 %}
					<a href="{{ path('project_activity_edit', {'id': project_activity.id, 'project': project.id}) }}" class="btn btn-sm btn-warning text-white">{% trans %}Edit{% endtrans %}</a> {{ include('project/activity/_delete_form.html.twig') }}
				{% endif %}
			</div>
		</div>
		<br>
	{% endif %}
{% endblock %}
