{% extends 'base.html.twig' %}

{% block title %}Currency
{% endblock %}
{% block breadcrumb %}
	<li class="breadcrumb-item">
		<a href="{{path('currency_index')}}">{% trans %}
			Currency
			{% endtrans %}</a>
	</li>
	<li class="breadcrumb-item active">{% trans %}
		List
		{% endtrans %}</li>
{% endblock %}
{% block pagetitle %}
	{% trans %}
	Currency{% endtrans %}
{% endblock %}
{% block body %}
	<div class="row">
		<div class="col-md-4">
			{% if is_granted("currency_create") %}
				<div class="card card-info">
					<div class="card-header">
						<h3 class="card-title">
							{% if edit %}
								Edit
							{% else %}
								Add New
							{% endif %}
						</h3>
					</div>
					<div class="card-body">
						{% if edit  %}
							{% set button_label = 'Update' %}
						{% endif %} {{ include('setting/currency/_form.html.twig') }}
					</div>
				</div>
			{% endif %}
		</div>
		<div class="col-md-8">
			<div class="card card-info">
				<div class="card-header">
					<h3 class="card-title">{% trans %}
						Currency List
						{% endtrans %}</h3>
					<div class="card-tools">
						<form class="form-inline ml-3">
							<div class="input-group input-group-sm">
								<input class="form-control form-control-navbar" placeholder="Search" type="search" name="search">
								<div class="input-group-append">
									<button class="btn btn-secondary" type="submit">
										<i class="fas fa-search"></i>
									</button>
								</div>
							</div>
						</form>
					</div>
				</div>
				<div class="card-body">
					<table class="table table-hover">
						<thead>
							<tr>
								<th>#</th>
								<th>{{ knp_pagination_sortable(currencies, 'Name'|trans, 'c.name') }}</th>
								<th>{{ knp_pagination_sortable(currencies, 'Abbreviation'|trans, 'c.abbreviation') }}</th>
								<th>{% trans %}Actions{% endtrans %}</th>
							</tr>
						</thead>
						<tbody>
							{% set i = 1 %}
							{% for currency in currencies %}
								<tr>
									<td>{{ i }}
										{% set i = i+1 %}
									</td>
									<td>{{ currency.name }}</td>
									<td>{{ currency.abbreviation }}</td>
									<td>

										{% if is_granted("currency_edit") %}
											<form class="d-inline" method="post">
												<input type="hidden" name="edit" value="{{currency.id}}">
												<button class="btn btn-warning btn-sm text-white" title="Edit">
													<i class="fa fa-edit"></i>
												</button>
											</form>
										{% endif %}
										{% if is_granted("currency_delete") %}
											<form method="post" class="d-inline" action="{{ path('currency_delete', {'id': currency.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
												<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ currency.id) }}">
												<button class="btn btn-danger btn-sm">
													<span class="fa fa-trash"></span>
												</button>
											</form>
										{% endif %}
									</td>
								</tr>
							{% else %}
								<tr>
									<td colspan="4">{% trans %}no records found{% endtrans %}</td>
								</tr>
							{% endfor %}
						</tbody>
					</table>
					<div class="navigation">{{ knp_pagination_render(currencies) }}</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
