{% extends 'base.html.twig' %}

{% block title %}Edit Program
{% endblock %}
{% block breadcrumb %}
	<li class="breadcrumb-item">
		<a href="{{path('program_index')}}">{% trans %}
			Program
			{% endtrans %}</a>
	</li>
	<li class="breadcrumb-item active">{% trans %}
		Edit
		{% endtrans %}</li>
{% endblock %}
{% block pagetitle %}
	{% trans %}
	Edit Program{% endtrans %}
{% endblock %}
{% block body %}
	{% if is_granted("program_edit") %}
		<div class="card card-info">
			<div class="card-header">
				<h5>{% trans %}
					Edit Program Details
					{% endtrans %}</h5>
			</div>
			<div class="card-body">
				{{ include('program/_form.html.twig', {'button_label': 'Update' }) }}
				{{ include('program/_delete_form.html.twig') }}
			</div>
		</div>
		<br>
	{% endif %}
{% endblock %}
{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('assets/plugins/summernote/summernote-bs4.min.css') }}">
{% endblock %}
{% block javascripts %}
<script src="{{ asset('assets/plugins/summernote/summernote-bs4.min.js') }}"></script>
<script>
  $(function () {
    $('.wyiswig').summernote({
		placeholder: 'Enter details here',
        tabsize: 2,
        height: 200
	})
  })
</script>
{% endblock %}