{{ form_start(form) }}
    <div class="form-group">
        <label>{{ form_label(form.name) }}</label>
        {{ form_widget(form.name,{'attr':{'class':'form-control'}}) }}
        <div class="help-block with-errors"></div>
    </div>
    <div class="form-group">
        <label>{{ form_label(form.description) }}</label>
        {{ form_widget(form.description,{'attr':{'class':'form-control'}}) }}
        <div class="help-block with-errors"></div>
    </div>
    <div class="row">
    <div class="form-group col-md-8">
        <label>{{ form_label(form.planned_delivery_date) }}</label>
        {{ form_widget(form.planned_delivery_date,{'attr':{'class':'form-control'}}) }}
        <div class="help-block with-errors"></div>
    </div>
    <div class="form-group col-md-4">
        <label>{{ form_label(form.weight) }}</label>
        {{ form_widget(form.weight,{'attr':{'class':'form-control'}}) }}
        <div class="help-block with-errors"></div>
    </div>
    </div>
    <div class="form-group">
        <label>{{ form_label(form.activities_equal_weight) }}</label>
        {{ form_widget(form.activities_equal_weight) }}
        <div class="help-block with-errors"></div>
    </div>
{% if not button_label is defined  %}
    <button class="btn btn-info">{{ button_label|default('Save') }}</button>
    <button class="btn  btn-warning mr-3" type="reset">Reset</button>

{% else %}
    <input type="hidden" name="edit" value="{{ edit }}">
    <a href="{{ path('project_milestone_index', {'project': project.id}) }}" class="btn btn-primary">
        Cancel
    </a>

    <button class="btn btn-success mr-2">{{ button_label|default('Save') }}</button>
{% endif %}
{{ form_end(form) }}