{% extends 'base.html.twig' %}

{% block title %}Email Template
{% endblock %}
{% block breadcrumb %}
	<li class="breadcrumb-item">
		<a href="{{path('email_template_index')}}">{% trans %}
			Email Template
			{% endtrans %}</a>
	</li>
	<li class="breadcrumb-item active">{% trans %}
		Show
		{% endtrans %}</li>
{% endblock %}
{% block pagetitle %}
	{% trans %}
	Show Email Template
	{% endtrans %}
{% endblock %}
{% block body %}
	{% if is_granted("email_template_show") %}
		<div class="card card-info">
			<div class="card-header">
				<h3>{% trans %}
					Show Email Template
					{% endtrans %}</h3>
			</div>
			<div class="card-body">
				<table class="table">
					<tbody>
						<tr>
							<th>{% trans %}Name{% endtrans %}</th>
							<td>{{ email_template.name }}</td>
						</tr>
						<tr>
							<th>{% trans %}Code{% endtrans %}</th>
							<td>{{ email_template.code }}</td>
						</tr>
						<tr>
							<th>{% trans %}Description{% endtrans %}</th>
							<td>{{ email_template.description }}</td>
						</tr>
						<tr>
							<th>{% trans %}Is_active{% endtrans %}</th>
							<td>{{ email_template.isActive ? 'Yes' : 'No' }}</td>
						</tr>
						<tr>
							<th>{% trans %}Content{% endtrans %}</th>
							<td>{{ email_template.content|raw }}</td>
						</tr>
					</tbody>
				</table>

				<a href="{{ path('email_template_edit', {'id': email_template.id}) }}" class="btn btn-warning text-white">{% trans %}Edit{% endtrans %}</a> {{ include('setting/email_template/_delete_form.html.twig') }}
			</div>
		</div>
		<br>
	{% endif %}
{% endblock %}
