{{ form_start(form) }}
<div class="form-group">
	<label>{{ form_label(form.content) }}</label> {{ form_widget(form.content,{'attr':{'class':'form-control wyiswig'}}) }}
	<div class="help-block with-errors"></div>
</div>
<div class="form-group">
	<label>{{ form_label(form.file) }}</label> {{ form_widget(form.file,{'attr':{'class':'form-control'}}) }}
	<div class="help-block with-errors"></div>
</div>
<div class="row">
	<div class="form-group col-md-6">
		<label>{{ form_label(form.start_date) }}</label> {{ form_widget(form.start_date,{'attr':{'class':'form-control'}}) }}
		<div class="help-block with-errors"></div>
	</div>
	<div class="form-group col-md-6">
		<label>{{ form_label(form.end_date) }}</label> {{ form_widget(form.end_date,{'attr':{'class':'form-control'}}) }}
		<div class="help-block with-errors"></div>
	</div>
</div>
<div class="form-group">
	<label>{{ form_label(form.rating) }}</label> {{ form_widget(form.rating,{'attr':{'class':'form-control'}}) }}
	<div class="help-block with-errors"></div>
</div>
<div class="form-group">
	<label>{{ form_label(form.remark) }}</label> {{ form_widget(form.remark,{'attr':{'class':'form-control wyiswig'}}) }}
	<div class="help-block with-errors"></div>
</div>
{% if not button_label is defined  %}
	<button class="btn btn-info">{{ button_label|default('Save') }}</button>
	<button class="btn  btn-warning mr-3" type="reset">Reset</button>
{% else %}
	<input type="hidden" name="edit" value="{{ edit }}">
	<a href="{{ path('activity_progress_index', {'activity': activity.id, 'project': project.id }) }}" class="btn btn-primary">
		Cancel
	</a>
	<button class="btn btn-success mr-2">{{ button_label|default('Save') }}</button>
{% endif %} 
{{ form_end(form) }}