{% extends 'base.html.twig' %}

{% block title %}Project Resource
{% endblock %}
{% block breadcrumb %}
	<li class="breadcrumb-item">
		<a href="{{path('project_index')}}">
			{% trans %}
			Projects
			{% endtrans %}</a>
	</li>
	<li class="breadcrumb-item">
		<a href="{{path('project_show', {'id': project.id})}}">{{ project.name }}
		</a>
	</li>
	<li class="breadcrumb-item active">{% trans %}
		Resources
		{% endtrans %}</li>
{% endblock %}
{% block pagetitle %}
	{{ project.name }}
	{% trans %}
	Project Resource{% endtrans %}
{% endblock %}
{% block body %}
		<div class="card card-info">
		<div class="card-header">
			<h5>{% trans %}
				Project Resources
				{% endtrans %}</h5>
		</div>
		<div class="card-body">
			<table class="table">
				<thead>
					<tr>
						<th>#</th>
						<th>{{ knp_pagination_sortable(project_resources, 'Title'|trans, 'p.title') }}</th>
						<th>{{ knp_pagination_sortable(project_resources, 'Type'|trans, 'p.resourceType.name') }}</th>
						<th>{{ knp_pagination_sortable(project_resources, 'File'|trans, 'p.file') }}</th>
						<th>{{ knp_pagination_sortable(project_resources, 'Status'|trans, 'p.status') }}</th>
						<th>{{ knp_pagination_sortable(project_resources, 'Public'|trans, 'p.is_public') }}</th>
						<th>{{ knp_pagination_sortable(project_resources, 'Pinned'|trans, 'p.is_pinned') }}</th>
						<th>{% trans %}Actions{% endtrans %}</th>
					</tr>
				</thead>
				<tbody>
					{% set i = 1 %}
					{% for project_resource in project_resources %}
						<tr>
							<td>{{ i }}
								{% set i = i+1 %}
							</td>
							<td>{{ project_resource.title }}</td>
							<td>{{ project_resource.resourceType.name }}</td>
							<td>{{ project_resource.file }}</td>
							<td>
								{% if project_resource.status == 1 %}
									Active
								{% else %}
									Closed
								{% endif %}
							</td>
							<td>{{ project_resource.isPublic ? 'Yes' : 'No' }}</td>
							<td>{{ project_resource.isPinned ? 'Yes' : 'No' }}</td>
							<td>
								{% if is_granted("project_resource_show") %}
									<a href="{{ path('project_resource_show', {'id': project_resource.id, 'project': project.id}) }}" class="btn btn-sm btn-primary">{% trans %}Show{% endtrans %}</a>
								{% endif %}
								{% if is_granted("project_resource_edit") %}
									<a href="{{ path('project_resource_edit', {'id': project_resource.id, 'project': project.id}) }}" class="btn btn-sm btn-warning text-white">{% trans %}Edit{% endtrans %}</a>
								{% endif %}
							</td>
						</tr>
					{% else %}
						<tr>
							<td colspan="9">{% trans %}no records found{% endtrans %}</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
			<div class="navigation">{{ knp_pagination_render(project_resources) }}</div>
		</div>
	</div>
	{% if is_granted("project_resource_create") %}
		<a href="{{ path('project_resource_new', {'project': project.id}) }}" class="btn btn-sm btn-success">
			<span class="fa fa-plus"></span>
			{% trans %}Create new{% endtrans %}</a>
	{% endif %}
	<br>
{% endblock %}
