{% extends 'base.html.twig' %}

{% block title %}New Project Resource
{% endblock %}
{% block breadcrumb %}
	<li class="breadcrumb-item">
		<a href="{{path('project_index')}}">
			{% trans %}
			Projects
			{% endtrans %}</a>
	</li>
	<li class="breadcrumb-item">
		<a href="{{path('project_show', {'id': project.id})}}">{{ project.name }}
		</a>
	</li>
	<li class="breadcrumb-item">
		<a href="{{path('project_resource_index', {'project': project.id})}}">{% trans %}
			Resources
			{% endtrans %}</a>
	</li>
	<li class="breadcrumb-item active">{% trans %}
		New
		{% endtrans %}</li>
{% endblock %}
{% block pagetitle %}
	{% trans %}
	New Project Resource
	{% endtrans %}
{% endblock %}
{% block body %}
	{% if is_granted("project_resource_create") %}
		<div class="card card-info">
			<div class="card-header">
				<h3>{% trans %}
					New Project Resource{% endtrans %}</h3>
			</div>
			<div class="card-body">
				{{ include('project/resource/_form.html.twig') }}
			</div>
		</div>
		<br>
	{% endif %}
{% endblock %}
