{% extends 'base.html.twig' %}
{% block breadcrumb %}
	<li class="breadcrumb-item">
		<a href="{{path('user_group_index')}}">{% trans %}
			User Group
			{% endtrans %}</a>
	</li>
	<li class="breadcrumb-item active">{% trans %}
		Users
		{% endtrans %}</li>
{% endblock %}
{% block pagetitle %}
	{{ user_group.name }}
	{% trans %}User Group{% endtrans %}
{% endblock %}
{% block title %}
	Permission
{% endblock %}
{% block stylesheets %}
	<link rel="stylesheet" href="{{asset('assets/plugins/bootstrap4-duallistbox/bootstrap-duallistbox.min.css')}}">
{% endblock %}
{% block body %}
	<div class="card ">
		<form method="POST">
			<div class="card-body">
				<div class="row">
					<div class="col-12">
						<div class="form-group">
							<label>Permissions List</label>
							<label class="float-right">User Group Permissions
							</label>
							<input hidden value="{{ user_group.id}}" name="usergrouppermission">
							<select class="duallistbox" multiple="multiple" name="permission[]">
								{% for permission in user_group.permission %}
									<option selected value="{{permission.id}}" title="{{permission.description}}">{{ permission.name }}</option>
								{% endfor %}
								{% for permission in permissions %}
									<option value="{{permission.id}}" title="{{permission.description}}">{{ permission.name }}</option>
								{% endfor %}
							</select>
						</div>
					</div>
				</div>
			</div>
			<div class="card-footer">
				<div class="float-right">
					<a href="{{path('user_group_index')}}" class="btn btn-warning">Cancel</a>
					<button class="btn btn-info">Save</button>
				</div>
			</div>
		</form>
	</div>

{% endblock %}
{% block javascripts %}
	<script src="{{asset('assets/plugins/bootstrap4-duallistbox/jquery.bootstrap-duallistbox.min.js')}}"></script>
	<script>
		$(function () {
			$('.duallistbox').bootstrapDualListbox();
		})
	</script>
{% endblock %}
