<aside class="main-sidebar sidebar-dark-primary elevation-4">
	<a href="{{ path('dashboard')}}" class="brand-link text-center">
		<span class="brand-text font-weight-light ">Project Followup</span>
	</a>

	<!-- Sidebar -->
	<div class="sidebar">
		<nav class="mt-2">
			<ul class="nav nav-pills nav-sidebar nav-child-indent flex-column" data-widget="treeview" role="menu" data-accordion="false">
				<li class="nav-item">
					<a href="{{ path('dashboard')}}" class="nav-link">
						<i class="nav-icon fas fa-home"></i>
						<p>
							Dashboard
						</p>
					</a>
				</li>
				{% for project in app.session.all['myprojects'] %}
					<li class="nav-item has-treeview">
						<a href="#" class="nav-link ">
							<i class="nav-icon fas fa-project-diagram"></i>
							<p>
								{{ project.name }}
								<i class="right fas fa-angle-left"></i>
							</p>
						</a>
						<ul class="nav nav-treeview">
							<li class="nav-item">
								<a href="{{ path('project_dashboard', {'id': project.id })}}" class="nav-link ">
									<i class="fas fa-list-alt nav-icon"></i>
									<p>Dashboard</p>
								</a>
							</li>
							<li class="nav-item">
								<a href="{{ path('project_structure_index', {'project': project.id })}}" class="nav-link">
									<i class="fas fa-list-alt nav-icon"></i>
									<p>Structure</p>
								</a>
							</li>
							{% if project.status >= 3 %}
								<li class="nav-item">
									<a href="{{ path('project_members_index', {'project': project.id })}}" class="nav-link">
										<i class="fas fa-list-alt nav-icon"></i>
										<p>Members</p>
									</a>
								</li>
							{% endif %}
							<li class="nav-item">
								<a href="{{ path('project_resource_index', {'project': project.id })}}" class="nav-link">
									<i class="fas fa-list-alt nav-icon"></i>
									<p>Knowledge</p>
								</a>
							</li>
							<li class="nav-item">
								<a href="{{ path('project_milestone_index', {'project': project.id })}}" class="nav-link">
									<i class="fas fa-list-alt nav-icon"></i>
									<p>Milestone</p>
								</a>
							</li>
							<li class="nav-item">
								<a href="{{ path('project_deliverable_index', {'project': project.id })}}" class="nav-link">
									<i class="fas fa-list-alt nav-icon"></i>
									<p>Deliverables</p>
								</a>
							</li>
							<li class="nav-item">
								<a href="{{path('project_activity_index', {'project': project.id})}}" class="nav-link">
									<i class="fas fa-list-alt nav-icon"></i>
									<p>Activity</p>
								</a>
							</li>
							<li class="nav-item">
								<a href="{{ path('project_collaboration_topic_index', {'project': project.id })}}" class="nav-link">
									<i class="fas fa-list-alt nav-icon"></i>
									<p>Collaboration</p>
								</a>
							</li>
							<li class="nav-item">
								<a href="{{ path('project_email_index', {'project': project.id })}}" class="nav-link">
									<i class="fas fa-list-alt nav-icon"></i>
									<p>Emails</p>
								</a>
							</li>
						</ul>
					</li>
				{% endfor %}

				<li class="nav-item">
					<a href="{{ path('my_project')}}" class="nav-link">
						<i class="nav-icon fas fa-tasks"></i>
						<p>
							My Projects
						</p>
					</a>
				</li>
				{# <li class="nav-item">
					<a href="{{ path('calendar_index')}}" class="nav-link">
						<i class="nav-icon fas fa-calendar"></i>
						<p>
							Calendar
						</p>
					</a>
				</li> #}
				<hr>
				{% if is_granted("project_index") %}
				<li class="nav-item has-treeview">
					<a href="#" class="nav-link ">
						<i class="nav-icon fas fa-project-diagram"></i>
						<p>
							Projects
							<i class="right fas fa-angle-left"></i>
						</p>
					</a>
					<ul class="nav nav-treeview">
						{% if is_granted("project_create") %}
						<li class="nav-item">
							<a href="{{ path('project_new')}}" class="nav-link ">
								<i class="fas fa-plus-circle nav-icon"></i>
								<p>New</p>
							</a>
						</li>
						{% endif %}
						<li class="nav-item">
							<a href="{{ path('project_index')}}" class="nav-link">
								<i class="fas fa-list-alt nav-icon"></i>
								<p>List</p>
							</a>
						</li>
					</ul>
				</li>
				{% endif %}
				{% if is_granted("program_index") %}
				<li class="nav-item has-treeview">
					<a href="#" class="nav-link ">
						<i class="nav-icon fas fa-passport"></i>
						<p>
							Programs
							<i class="right fas fa-angle-left"></i>
						</p>
					</a>
					<ul class="nav nav-treeview">
					{% if is_granted("program_create") %}
						<li class="nav-item">
							<a href="{{ path('program_new')}}" class="nav-link ">
								<i class="fas fa-plus-circle nav-icon"></i>
								<p>New</p>
							</a>
						</li>
					{% endif %}
						<li class="nav-item">
							<a href="{{ path('program_index')}}" class="nav-link">
								<i class="fas fa-list-alt nav-icon"></i>
								<p>List</p>
							</a>
						</li>
					</ul>
				</li>
				{% endif %}
				{% if is_granted("user_group_index") or is_granted("permission_index") %}
				<li class="nav-item has-treeview">
					<a href="#" class="nav-link ">
						<i class="nav-icon fas fa-users"></i>
						<p>
							Users
							<i class="right fas fa-angle-left"></i>
						</p>
					</a>
					<ul class="nav nav-treeview">
						<li class="nav-item">
							<a href="#" class="nav-link ">
								<i class="far fa-user nav-icon"></i>
								<p>User</p>
							</a>
						</li>
						{% if is_granted("user_group_index") %}
						<li class="nav-item">
							<a href="{{ path('user_group_index')}}" class="nav-link">
								<i class="fas fa-user-friends nav-icon"></i>
								<p>User Group</p>
							</a>
						</li>
						{% endif %}
						{% if is_granted("permission_index") %}
						<li class="nav-item">
							<a href="{{ path('permission_index')}}" class="nav-link">
								<i class="fas fa-key nav-icon"></i>
								<p>Permission</p>
							</a>
						</li>
						{% endif %}
					</ul>
				</li>
				{% endif %}
				{% if is_granted("currency_index") or is_granted("resource_type_index") or is_granted("sponsor_index") or is_granted("organization_index") or is_granted("organization_unit_index") or is_granted("stakeholder_index") or is_granted("email_template_index") %}
				<li class="nav-item has-treeview">
					<a href="#" class="nav-link "> 
						<i class="nav-icon fas fa-cog"></i>
						<p>
							Settings
							<i class="right fas fa-angle-left"></i>
						</p>
					</a>
					<ul class="nav nav-treeview">
						{% if is_granted("currency_index") %}
						<li class="nav-item "> 
							<a href="{{ path('currency_index')}}" class="nav-link">
								<i class="fas fa-dollar-sign nav-icon"></i>
								<p>Currency</p>
							</a>
						</li>
						{% endif %}
						{% if is_granted("resource_type_index") %}
						<li class="nav-item">
							<a href="{{ path('resource_type_index')}}" class="nav-link">
								<i class="fas fa-file-alt nav-icon"></i>
								<p>Resource Type</p>
							</a>
						</li>
						{% endif %}
						{% if is_granted("sponsor_index") %}
						<li class="nav-item">
							<a href="{{ path('sponsor_index')}}" class="nav-link">
								<i class="fas fa-money-check nav-icon"></i>
								<p>Sponsor</p>
							</a>
						</li>
						{% endif %}
						{% if is_granted("organization_index") %}
						<li class="nav-item">
							<a href="{{ path('organization_index')}}" class="nav-link">
								<i class="fas fa-sitemap nav-icon"></i>
								<p>Organization</p>
							</a>
						</li>
						{% endif %}
						{% if is_granted("stakeholder_index") %}
						<li class="nav-item">
							<a href="{{ path('stakeholder_index')}}" class="nav-link">
								<i class="fas fa-hands-helping nav-icon"></i>
								<p>Stakeholder</p>
							</a>
						</li>
						{% endif %}
						{% if is_granted("email_template_index") %}
						<li class="nav-item">
							<a href="{{ path('email_template_index')}}" class="nav-link">
								<i class="fas fa-at nav-icon"></i>
								<p>Email Template</p>
							</a>
						</li>
						{% endif %}
					</ul>
				</li>
				{% endif %}
			</ul>
		</nav>
	</div>
</aside>
