{% extends 'base.html.twig' %}

{% block title %}Alignment Matrix
{% endblock %}
{% block breadcrumb %}
	<li class="breadcrumb-item active">{% trans %}
		Alignment Matrix
		{% endtrans %}</li>
{% endblock %}
{% block pagetitle %}
	{% trans %}
	Alignment Matrix{% endtrans %}
{% endblock %}
{% block body %}
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">Alignment Matrix</h3>
              </div>
              <div class="card-body">
	<table class="table table-hover  table-bordered table-striped" id="mytable">
		<thead>
			<tr>
				<th>Objectives</th>
				{% for unit in units %}
					<th id="U{{ unit.id }}" class="text-center">{{ unit.name }}</th>
				{% endfor %}
			</tr>
		</thead>
		<tbody>
			{% for objective in objectives %}
				<tr>
					<td id="O{{ objective.id }}"> {{ objective.name }}
					</td>
					{% for unit in units %}
						<td id="O{{ objective.id }}U{{ unit.id }}" class="text-center"> </td>
					{% endfor %}
				</tr>
			{% endfor %}
		</tbody>
	</table>
	</div>
	</div>
{% endblock %}
{% block stylesheets %}
  <link rel="stylesheet" href="{{ asset('assets/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css')}}">
  <link rel="stylesheet" href="{{ asset('assets/plugins/datatables-responsive/css/responsive.bootstrap4.min.css')}}">
  <link rel="stylesheet" href="{{ asset('assets/plugins/datatables-buttons/css/buttons.bootstrap4.min.css')}}">
{% endblock %}
{% block javascripts %}
<script>
	{% for project in projects %}
		$( "#O{{ project.objective.id }}U{{ project.unit.id }}" ).text( "{{ project.name }}" );
	{% endfor %}
</script>
<script src="{{ asset('assets/plugins/datatables/jquery.dataTables.min.js')}}"></script>
<script src="{{ asset('assets/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js')}}"></script>
<script src="{{ asset('assets/plugins/datatables-responsive/js/dataTables.responsive.min.js')}}"></script>
<script src="{{ asset('assets/plugins/datatables-responsive/js/responsive.bootstrap4.min.js')}}"></script>
<script src="{{ asset('assets/plugins/datatables-buttons/js/dataTables.buttons.min.js')}}"></script>
<script src="{{ asset('assets/plugins/datatables-buttons/js/buttons.bootstrap4.min.js')}}"></script>
<script src="{{ asset('assets/plugins/jszip/jszip.min.js')}}"></script>
<script src="{{ asset('assets/plugins/pdfmake/pdfmake.min.js')}}"></script>
<script src="{{ asset('assets/plugins/pdfmake/vfs_fonts.js')}}"></script>
<script src="{{ asset('assets/plugins/datatables-buttons/js/buttons.html5.min.js')}}"></script>
<script src="{{ asset('assets/plugins/datatables-buttons/js/buttons.print.min.js')}}"></script>
<script src="{{ asset('assets/plugins/datatables-buttons/js/buttons.colVis.min.js')}}"></script>
<script>
  $(function () {
    $("#mytable").DataTable({
      "responsive": true, "lengthChange": false, "autoWidth": false, "paging": false, "searching": false, "info": false,
      "buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"]
    }).buttons().container().appendTo('#mytable_wrapper .col-md-6:eq(0)');
  });
</script>
{% endblock %}