{% extends 'base.html.twig' %}

{% block title %}Project
{% endblock %}
{% block breadcrumb %}
	<li class="breadcrumb-item">
		<a href="{{path('project_index')}}">{% trans %}
			Project
			{% endtrans %}</a>
	</li>
	<li class="breadcrumb-item active">{% trans %}
		Show
		{% endtrans %}</li>
{% endblock %}
{% block pagetitle %}
	{% trans %}
	Show Project
	{% endtrans %}
{% endblock %}
{% block body %}
	<div class="row">
		<div class="col-md-12">
			<div class="card">
				<div class="card-header border-0">
					<h3 class="card-title">Project Information</h3>
					<div class="card-tools">
						<a href="#" class="btn btn-tool btn-sm">
							<i class="fas fa-bars"></i>
						</a>
					</div>
				</div>
				<div class="card-body table-responsive p-0">
					<table class="table table-striped table-valign-middle">
						<thead>
							<tr>
								<th>Name</th>
								<th>Amount</th>
								<th>Start Date</th>
								<th>End Date</th>
								<th>Stakeholders</th>
								<th>Status</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>
									<a href="#">{{ project.name }}</a>
								</td>
								<td>{{ project.currency.abbreviation }} {{ project.amount }}</td>
								<td>{{ project.startDate ? project.startDate|date('Y-m-d') : '' }}</td>
								<td>{{ project.endDate ? project.endDate|date('Y-m-d') : '' }}</td>
								<td>
									{# stakeholder #}
								</td>
								<td>
									{% if project.status == 1 %}
										Planning
									{% elseif project.status == 2 %}
										Plan Approval Requested
									{% elseif project.status == 3 %}
										Plan Approved
									{% elseif project.status == 4 %}
										On Implementation
									{% elseif project.status == 5 %}
										Completed
									{% elseif project.status == 6 %}
										Terminated
									{% else %}
										Unknown
									{% endif %}
								</td>
							</tr>
							<tr>
								<th>Project Manager</th>
								<th>Program</th>
								<th>Actions</th>
							</tr>
							<tr>
								<td>{{ project.projectManager.username }}</td>
								<td>
									{% if project.program is not null  %} {{ project.program.name }}
									{% endif %}
								</td>
								<td>
									<a href="#" class="btn btn-primary mr-3">Export Plan</a>
									{% if project.status == 1 %}
										<button type="button" class="btn btn-success" data-toggle="modal" data-target="#submitPlan">
											Submit Plan
										</button>
										<div class="modal fade" id="submitPlan" tabindex="-1" role="dialog" aria-labelledby="submitPlanLabel" aria-hidden="true">
											<div class="modal-dialog modal-dialog-centered modal-lg" role="document">
												<div class="modal-content">
													<div class="modal-header">
														<h5 class="modal-title" id="submitPlanLabel">Submit Plan</h5>
														<button type="button" class="close" data-dismiss="modal" aria-label="Close">
															<span aria-hidden="true">&times;</span>
														</button>
													</div>
													<div class="modal-body">
														<p>Are you sure you want to submit the project plan? Once you submit you will not be able to modify the following.</p>
														<ul>
															<li>Structure: {{ project.projectStructures|length}}</li>
															<li>Knowledge: {{ project.projectResources|length}}</li>
															<li>Milestones: {{ project.projectMilestones|length}}</li>
															<li>Deliverable: {{ project.projectDeliverables|length}}</li>
															<li>Activity: {{ project.projectActivities|length}}</li>
														</ul>
														<p>To complete please enter the project name that is
															<code>{{ project.name}}</code>
															exactly as it is.</p>
													</div>
													<form class="d-inline ml-2 mr-2 mb-5" method="POST" action="{{ path('plan_approve_request',{'id':project.id})}}">
														{# <input type="text" id="project_id" value="{{project.id}}" required hidden> #}
														<button type="submit" class="btn btn-success btn-block">I Understand, proceed with the submission.</button>
													</form> {{ include('project/js.html.twig') }}
												</div>
											</div>
										</div>
									{% endif %}
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div><br>
	<div class="row">
		<div class="col-md-4 col-6">
			<div class="small-box bg-info">
				<div class="inner">
					<h3>Structure</h3>
					<p>&nbsp;</p>
				</div>
				<div class="icon">
					<i class="fas">{{ project.projectStructures|length}}</i>
				</div>
				<a href="{{ path('project_structure_index', {'project': project.id })}}" class="small-box-footer">More info
					<i class="fas fa-arrow-circle-right"></i>
				</a>
			</div>
		</div>
		<div class="col-md-4 col-6">
			<div class="small-box bg-warning">
				<div class="inner">
					<h3>Knowledge</h3>
					<p>&nbsp;</p>
				</div>
				<div class="icon">
					<i class="fas">{{ project.projectResources|length}}</i>
				</div>
				<a href="{{ path('project_resource_index', {'project': project.id })}}" class="small-box-footer">More info
					<i class="fas fa-arrow-circle-right"></i>
				</a>
			</div>
		</div>
		<div class="col-md-4 col-6">
			<div class="small-box bg-success">
				<div class="inner">
					<h3>Milestone</h3>
					<p>&nbsp;</p>
				</div>
				<div class="icon">
					<i class="fas">{{ project.projectMilestones|length}}</i>
				</div>
				<a href="{{ path('project_milestone_index', {'project': project.id })}}" class="small-box-footer">More info
					<i class="fas fa-arrow-circle-right"></i>
				</a>
			</div>
		</div>
		<div class="col-md-4 col-6">
			<div class="small-box bg-danger">
				<div class="inner">
					<h3>Deliverable</h3>
					<p>&nbsp;</p>
				</div>
				<div class="icon">
					<i class="fas">{{ project.projectDeliverables|length}}</i>
				</div>
				<a href="{{ path('project_deliverable_index', {'project': project.id })}}" class="small-box-footer">More info
					<i class="fas fa-arrow-circle-right"></i>
				</a>
			</div>
		</div>
		<div class="col-md-4 col-6">
			<div class="small-box bg-info">
				<div class="inner">
					<h3>Activity</h3>
					<p>&nbsp;</p>
				</div>
				<div class="icon">
					<i class="fas">{{ project.projectActivities|length}}</i>
				</div>
				<a href="{{path('project_activity_index', {'project': project.id})}}" class="small-box-footer">More info
					<i class="fas fa-arrow-circle-right"></i>
				</a>
			</div>
		</div>
	</div>
{% endblock %}
